@import "../../../assets/scss/setup/variables";

.signup {
  margin-top: 20px;
  .buttons-bar > *:not(:last-child) {
    margin-inline-end: 1rem;
  }
  .change-auth-type {
    margin-top: 1rem;
    > p {
      font-size: 0.8rem;
      > a {
        color: $primary;
      }
    }
  }
}
