// COLOR PALETTE
$dark: #34495e;
$strong-dark: #2c3e50;
$primary: #3498db;
$dark-primary: #2980b9;
$success: #2ecc71;
$self: #25d366;
$dark-success: #27ae60;
$proccess: #f1c40f;
$dark-proccess: #f39c12;
$danger: #e74c3c;
$dark-danger: #c0392b;
$grey: #ecf0f1;
$medium-grey: #efefef;
$dark-grey: #bdc3c7;
$strong-dark-grey: #707477;
// TYPOGRAPHY:
$reg-text: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

// LAYOUT BREAKPOINTS
$break-narrow: 460px;
$break-normal: 740px;
$break-wide: 1060px;
